<section class="apps" style="">
  <div class="container apps__container">

    <div class="apps__img-container">
      <img class="apps__img" src="./img/apps-img.png" alt="" />
    </div>
    <div class="apps__text-wrapper">
      <div class="apps__title-container">
        <h2 class="apps__title">Find a home
          on mobile</h2>
          <div class="decoration-container apps__decoration-container">
            <img src="./img/blue-decoration.svg" alt="" class="decoration apps__decoration">
          </div>
      </div>
      <p class="apps__text">Everything you need to find a home on mobile.</p>
      <div class="apps__links-wrapper">
        <a href="#" class="apps__link">
          <img class="apps__link-img" src="./img/google_play.svg" alt="" />
          <p class="apps__link-text">Google Play</p>
        </a>
        <a href="#" class="apps__link">
          <img  class="apps__link-img" src="./img/app_store.svg" alt="" />
          <p class="apps__link-text">App Store</p>
        </a>
      </div>
    </div>

  </div>
</section>
