<section class="explore">
<div class="explore__background"></div>
  <div class="container explore__container">
    <h2 class="explore__title">Explore Our Cities</h2>
    <p class="explore__text">Browse our comprehensive listings</p>
    <div class="explore__card-wrapper">
      
      <div class="decoration-container explore__decoration-container">
        <img src="./img/decoration.svg" alt="" class="decoration explore__decoration">
      </div>
      <div class="explore__card card1">
        <div class="explore__card-img-container">
          <img class="explore__card-img" src="./img/card-1.png" alt="" />
        </div>
        <div class="explore__card-info">

          <h3 class="explore__card-title">Barcelona</h3>
          <p class="explore__card-subtitle">Spain</p>
          <div class="explore__card-properties">147 properties</div>
        </div>
      </div>
      <div class="explore__card card2">
        <div class="explore__card-img-container">
          <img class="explore__card-img" src="./img/card-2.png" alt="" />
        </div>
        <div class="explore__card-info">

          <h3 class="explore__card-title">New York</h3>
          <p class="explore__card-subtitle">USA</p>
          <div class="explore__card-properties">258 properties</div>
        </div>
      </div>
      <div class="explore__card card3">
        <div class="explore__card-img-container">
          <img class="explore__card-img" src="./img/card-3.jpg" alt="" />
        </div>
        <div class="explore__card-info">

          <h3 class="explore__card-title">London</h3>
          <p class="explore__card-subtitle">Great Britain</p>
          <div class="explore__card-properties">225 properties</div>
        </div>
      </div>
      <div class="explore__card card4">
        <div class="explore__card-img-container">
          <img class="explore__card-img" src="./img/card-4.jpg" alt="" />
        </div>
        <div class="explore__card-info">

          <h3 class="explore__card-title">Oslo</h3>
          <p class="explore__card-subtitle">Norway</p>
          <div class="explore__card-properties">99 properties</div>
        </div>
      </div>
      <div class="explore__card card5">
        <div class="explore__card-img-container">
          <img class="explore__card-img" src="./img/card-5.jpg" alt="" />
        </div>
        <div class="explore__card-info">

          <h3 class="explore__card-title">Tokyo</h3>
          <p class="explore__card-subtitle">Japan</p>
          <div class="explore__card-properties">258 properties</div>
        </div>
      </div>
      <div class="explore__card card6">
        <div class="explore__card-img-container">
          <img class="explore__card-img" src="./img/card-6.jpg" alt="" />
        </div>
        <div class="explore__card-info">

          <h3 class="explore__card-title">Paris</h3>
          <p class="explore__card-subtitle">France</p>
          <div class="explore__card-properties">
              <p>225 properties</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container explore__browse-container">
        <p class="browse-all-txt explore__browse-all-txt">Browse all</p>
        <div class="browse-all-btn explore__browse-all-btn">
          <svg class="browse-all-img explore__browse-all-img" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.50933L1.4145 0L6.002 4.9808L10.5855 0L12 1.50933L6.002 8L0 1.50933Z" fill="white"/>
            </svg>
        </div>
    </div>
  </div>
</section>
