<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content-container footer__social-info-container">
      <a class="footer__logo logo" href="">
        <svg class="footer__logo-img"
          width="47"
          height="26"
          viewBox="0 0 47 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.8 0.239998H14.2C17.24 0.239998 19.5333 1.06667 21.08 2.72C22.6267 4.37333 23.4 6.6 23.4 9.4C23.4 11.1067 22.9733 12.6267 22.12 13.96C21.2667 15.2667 20.1067 16.28 18.64 17C18.9333 17.24 19.1867 17.52 19.4 17.84C19.6133 18.16 19.8533 18.6267 20.12 19.24L23.08 26H15.24L12.52 19.8C12.3067 19.32 12.04 18.9867 11.72 18.8C11.4267 18.5867 11 18.48 10.44 18.48H8.32V26H0.8V0.239998ZM12.28 12.72C13.3733 12.72 14.2133 12.44 14.8 11.88C15.4133 11.2933 15.72 10.4667 15.72 9.4C15.72 7.13333 14.6533 6 12.52 6H8.32V12.72H12.28ZM27.1906 0.239998H46.7106V6H34.7106V10.2H45.2306V16.04H34.7106V20.24H46.7106V26H27.1906V0.239998Z"
            fill="white"
          />
        </svg>
      </a>
      <div class="footer__social-container">

          <p class="footer__content-text">
            42 Nine Avenue, 7/3 Floor San Francisco, CA 1980
          </p>
          <div class="social__links-container">
            <a class="social__link" href="">
              <svg
                class="social__link-img"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16 0C7.164 0 0 7.164 0 16C0 24.836 7.164 32 16 32C24.836 32 32 24.836 32 16C32 7.164 24.836 0 16 0ZM16 2.66667C23.352 2.66667 29.3333 8.648 29.3333 16C29.3333 23.352 23.352 29.3333 16 29.3333C8.648 29.3333 2.66667 23.352 2.66667 16C2.66667 8.648 8.648 2.66667 16 2.66667ZM10.6667 13.3333H13.3333V11.0773C13.3333 9.056 14.3973 8 16.7947 8H20V11.3333H18.0773C17.4613 11.3333 17.3333 11.5853 17.3333 12.2227V13.3333H20L19.76 16H17.3333V24H13.3333V16H10.6667V13.3333Z"
                  fill="#333333"
                />
              </svg>
            </a>
            <a class="social__link" href="">
              <svg
                class="social__link-img"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16 0C7.164 0 0 7.164 0 16C0 24.836 7.164 32 16 32C24.836 32 32 24.836 32 16C32 7.164 24.836 0 16 0ZM16 2.66667C23.352 2.66667 29.3333 8.648 29.3333 16C29.3333 23.352 23.352 29.3333 16 29.3333C8.648 29.3333 2.66667 23.352 2.66667 16C2.66667 8.648 8.648 2.66667 16 2.66667ZM22.7813 12.2213C23.4453 12.1413 24.0787 11.9653 24.6667 11.704C24.2267 12.3627 23.6707 12.9413 23.028 13.4027C23.236 18.02 19.7933 23.168 13.6973 23.168C11.844 23.168 10.12 22.6253 8.66667 21.6933C10.4093 21.8987 12.1467 21.4147 13.5293 20.332C12.0947 20.3053 10.88 19.3573 10.4627 18.0533C10.9773 18.152 11.484 18.1227 11.9453 17.9973C10.3667 17.68 9.276 16.2573 9.312 14.7373C9.75467 14.9827 10.26 15.1307 10.7973 15.148C9.336 14.1707 8.92133 12.24 9.78133 10.7653C11.4 12.7507 13.82 14.0573 16.5467 14.1947C16.068 12.1413 17.6253 10.164 19.7453 10.164C20.688 10.164 21.5427 10.5627 22.14 11.2013C22.888 11.0547 23.5907 10.7813 24.2253 10.4053C23.9787 11.172 23.46 11.8147 22.7813 12.2213Z"
                  fill="#333333"
                />
              </svg>
            </a>
            <a class="social__link" href="">
              <svg
                class="social__link-img"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16 0C7.164 0 0 7.164 0 16C0 24.836 7.164 32 16 32C24.836 32 32 24.836 32 16C32 7.164 24.836 0 16 0ZM16 2.66667C23.352 2.66667 29.3333 8.648 29.3333 16C29.3333 23.352 23.352 29.3333 16 29.3333C8.648 29.3333 2.66667 23.352 2.66667 16C2.66667 8.648 8.648 2.66667 16 2.66667ZM19.2333 9.48933C18.3893 9.45067 18.136 9.44267 16 9.44267C13.864 9.44267 13.6107 9.44933 12.768 9.488C10.5973 9.58667 9.58667 10.6147 9.488 12.768C9.45067 13.6107 9.44133 13.864 9.44133 16C9.44133 18.136 9.45067 18.3893 9.488 19.232C9.588 21.38 10.5947 22.412 12.768 22.512C13.6107 22.5507 13.864 22.5587 16 22.5587C18.1373 22.5587 18.3893 22.5493 19.2333 22.512C21.404 22.4133 22.4133 21.3827 22.5133 19.232C22.5507 18.3893 22.5587 18.136 22.5587 16C22.5587 13.864 22.5507 13.612 22.5133 12.768C22.4133 10.616 21.4027 9.588 19.2333 9.48933ZM16 8C13.8267 8 13.556 8.00933 12.7013 8.04933C9.79467 8.18267 8.18133 9.79467 8.048 12.7013C8.00933 13.556 8 13.828 8 16C8 18.1733 8.00933 18.4453 8.048 19.2987C8.18133 22.204 9.79467 23.8187 12.7013 23.952C13.556 23.9907 13.8267 24 16 24C18.1733 24 18.4453 23.9907 19.3 23.952C22.2013 23.8187 23.8213 22.2067 23.952 19.2987C23.9907 18.4453 24 18.1733 24 16C24 13.828 23.9907 13.556 23.952 12.7013C23.8213 9.79867 22.2067 8.18133 19.3 8.04933C18.4453 8.00933 18.1733 8 16 8ZM11.892 16C11.892 13.7307 13.732 11.892 16 11.892C18.268 11.892 20.108 13.732 20.108 16C20.108 18.2693 18.268 20.108 16 20.108C13.732 20.108 11.892 18.2693 11.892 16ZM16 18.6667C14.5267 18.6667 13.3333 17.4733 13.3333 16C13.3333 14.528 14.5267 13.3333 16 13.3333C17.472 13.3333 18.668 14.5267 18.668 16C18.668 17.4733 17.472 18.6667 16 18.6667ZM19.3093 11.7307C19.3093 11.2 19.74 10.7707 20.2693 10.7707C20.8013 10.7707 21.2307 11.2 21.2307 11.7307C21.2307 12.2613 20.8 12.6907 20.2693 12.6907C19.7387 12.6907 19.3093 12.26 19.3093 11.7307Z"
                  fill="#333333"
                />
              </svg>
            </a>
          </div>
      </div>
    </div>
    <div class="footer__content-container">
      <h3 class="footer__content-title">Menu</h3>
      <ul class="footer__menu">
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Home</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Services</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Features</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Pricing</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Blog</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">About</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Guide</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Support</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Contact</a>
        </li>
        <li class="footer__menu-li">
          <a class="footer__menu-link" href="">Agents</a>
        </li>
      </ul>
    </div>
    <div class="footer__content-container">
      <h3 class="footer__content-title">Subscribe</h3>
      <p class="footer__content-text">Get latest news & update</p>
      <form class="footer__form" action="">
        <input class="footer__form-input" type="email" placeholder="Your email"/>
        <button class="footer__form-input-btn">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="container footer__bottom-container">
    <p class="footer__content-text footer__bottom-content-text">2019 RE. All rights reserved.</p>
    <p class="footer__content-text">Crafted by Laaqiq</p>
  </div>
</footer>
