<section class="header">
  <div class="header__background-img-container">
    <img class="header__background-img" src="./img/header.jpg" alt="" />
  </div>
  <div class="header__background-mask-container">
    <img
      class="header__background-mask"
      src="./img/header-gradient.png"
      alt=""
    />
  </div>
  <div class="container header__nav-container">
    <a href="index.html" class="logo header__logo">
      <img src="./img/logo.svg" alt="" class="logo-img" />
    </a>
    <ul class="header__nav">
      <li class="header__nav-item">
        <a class="header__nav-link" href="">Properties</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="">Agents </a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="">Blog</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="">Contact</a>
      </li>
    </ul>
    <div class="header__nav-btn-container">
      <div class="header__nav-cabinet round-btn">
        <img src="./img/cabinet-img.svg" alt="" />
      </div>
      <div class="header__nav-burger round-btn">
        <img src="./img/burger.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="container header__form-container">
    <div class="header__title-container">
      <div class="decoration-container header__decoration-container">
        <img src="./img/decoration.svg" alt="" class="decoration header__decoration">
      </div>
      <h1 class="header__title">Discover a home for everyone</h1>
    </div>
    <form action="" class="header__form">
      
      <select name="Rent" class="header__form-input">
        <option value="1">Rent</option>
        <option value="2">456</option>
        <option value="3">789</option>
      </select>

      <input
        type="search"
        class="header__form-input header__form-input--search"
        placeholder="Search by City, Neighborhood or Addresss"
      />
    </form>
    <div class="arrow-down round-btn">
      <img src="./img/arrow.svg" alt="" />
    </div>
  </div>
</section>
