<section class="properties">
  <div class="container properties__container">
    <h2 class="properties__title">Featured Properties</h2>
    <p class="properties__text">Explore our latest hot offers</p>

  </div>
  <div class="properties__slider-container multiple-items">
    <div class="properties__card">

      <div class="properties__card-img">
        <img src="./img/slider1.jpg" alt="" />
      </div>
      <div class="properties__card-body">
        <div class="properties__card-body-header">
          <h3 class="properties__card-title">Gorgeous Home</h3>
          <p class="properties__card-price">$2,099</p>
        </div>
        <div class="properties__card-body-footer">
          <div class="properties__card-body-footer-content">
            <svg
              width="25"
              height="20"
              viewBox="0 0 25 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.9215 13.3309L22.1727 9.03667V1.1373L21.0538 0.0332031H3.91784L2.79891 1.1373V9.03661L0.0501279 13.3309H24.9215ZM19.9348 2.24141V7.7532C18.4928 7.38513 16.0017 6.93125 12.4858 6.93125C8.96988 6.93125 6.47877 7.38513 5.03676 7.7532V2.24141H19.9348ZM0 16.8977V14.6895H24.9717V16.8977H22.3643V19.9386H20.1265V16.8977H4.84514V19.9386H2.60729V16.8977H0ZM11.5777 5.78241V4.49604C11.5777 3.73251 10.4547 3.11333 9.06937 3.11333C7.68408 3.11333 6.56113 3.73251 6.56113 4.49604V6.42689C6.56113 6.42689 8.04066 6.05932 9.05761 5.96431C9.97315 5.87869 11.5777 5.78241 11.5777 5.78241ZM18.4105 4.49604V6.42689C18.4105 6.42689 16.9311 6.05932 15.9141 5.96431C14.9985 5.87863 13.3939 5.78241 13.3939 5.78241V4.49604C13.3939 3.73251 14.5169 3.11333 15.9022 3.11333C17.2875 3.11333 18.4105 3.73251 18.4105 4.49604Z"
                fill="#CECECE"
              />
            </svg>
            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="24"
              height="20"
              viewBox="0 0 24 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3 8V3C3 2.44772 3.44772 2 4 2C4.55228 2 5 2.44772 5 3V5H7V3C7 1.34315 5.65685 0 4 0C2.34315 0 1 1.34315 1 3V8H0V10H24V8H3ZM18 5C18.5523 5 19 4.55228 19 4C19 3.44772 18.5523 3 18 3C17.4477 3 17 3.44772 17 4C17 4.55228 17.4477 5 18 5ZM16 2C16 2.55228 15.5523 3 15 3C14.4477 3 14 2.55228 14 2C14 1.44772 14.4477 1 15 1C15.5523 1 16 1.44772 16 2ZM13 7C13.5523 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5C12.4477 5 12 5.44772 12 6C12 6.55228 12.4477 7 13 7ZM6 19C3.23986 18.9969 1.0031 16.7601 1 14V11H23V14C22.9969 16.7601 20.7601 18.9969 18 19V20H16V19H8V20H6V19Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.554 0H0.442049C0.198922 0 0 0.198868 0 0.442049V19.5539C0 19.7971 0.198922 19.9959 0.442049 19.9959H19.5539C19.7971 19.9959 19.9959 19.7971 19.9959 19.5539V0.442049C19.996 0.198922 19.797 0 19.554 0ZM7.88712 13.7327L4.84081 16.7712C4.71865 16.8934 4.71865 17.0932 4.84081 17.2152L5.53181 17.9062C5.65402 18.0284 5.61305 18.1394 5.44081 18.153L1.85348 18.4367C1.68135 18.4503 1.55154 18.3205 1.56518 18.1483L1.84879 14.561C1.86243 14.3888 1.97348 14.3478 2.09558 14.47L2.78663 15.1609C2.90879 15.2831 3.10863 15.2831 3.23073 15.1609L6.27709 12.1225C6.39925 12.0003 6.59908 12.0003 6.72119 12.1225L7.88706 13.2884C8.00922 13.4108 8.00922 13.6106 7.88712 13.7327ZM6.72124 7.94992L7.88712 6.78404C8.00922 6.66189 8.00922 6.46205 7.88717 6.33984L4.84086 3.30135C4.71871 3.17925 4.71871 2.97941 4.84086 2.8572L5.53186 2.1662C5.65407 2.0441 5.6131 1.93299 5.44086 1.91941L1.85353 1.6358C1.68135 1.62216 1.55159 1.75197 1.56523 1.9241L1.84884 5.51148C1.86248 5.68367 1.97353 5.72464 2.09563 5.60248L2.78668 4.91148C2.90879 4.78933 3.10863 4.78933 3.23078 4.91148L6.27714 7.94992C6.39925 8.07213 6.59908 8.07213 6.72124 7.94992ZM18.1425 18.4368L14.5552 18.1532C14.383 18.1396 14.342 18.0285 14.4642 17.9064L15.1552 17.2154C15.2774 17.0932 15.2774 16.8934 15.1552 16.7714L12.1089 13.7329C11.9867 13.6106 11.9867 13.4108 12.1089 13.2888L13.2748 12.1229C13.3969 12.0007 13.5968 12.0007 13.7189 12.1229L16.7652 15.1613C16.8874 15.2835 17.0872 15.2835 17.2093 15.1613L17.9002 14.4704C18.0225 14.3481 18.1334 14.3892 18.1471 14.5613L18.4307 18.1486C18.4445 18.3207 18.3147 18.4505 18.1425 18.4368ZM17.9004 5.60248C18.0226 5.72458 18.1336 5.68361 18.1472 5.51148L18.431 1.9242C18.4446 1.75202 18.3148 1.62226 18.1427 1.6359L14.5554 1.91951C14.3831 1.9331 14.3422 2.04415 14.4644 2.16631L15.1554 2.8573C15.2775 2.97946 15.2775 3.1793 15.1554 3.30146L12.1091 6.33995C11.9869 6.46205 11.9869 6.66189 12.1091 6.78404L13.2749 7.94992C13.3969 8.07213 13.5968 8.07213 13.719 7.94992L16.7654 4.91148C16.8874 4.78933 17.0872 4.78933 17.2095 4.91148L17.9004 5.60248Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>
        </div>

      </div>
    </div>
  
    <div class="properties__card">

      <div class="properties__card-img">
        <img src="./img/slider2.jpg" alt="" />
      </div>
      <div class="properties__card-body">
        <div class="properties__card-body-header">
          <h3 class="properties__card-title">Gorgeous Home</h3>
          <p class="properties__card-price">$2,099</p>
        </div>
        <div class="properties__card-body-footer">
          <div class="properties__card-body-footer-content">
            <svg
              width="25"
              height="20"
              viewBox="0 0 25 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.9215 13.3309L22.1727 9.03667V1.1373L21.0538 0.0332031H3.91784L2.79891 1.1373V9.03661L0.0501279 13.3309H24.9215ZM19.9348 2.24141V7.7532C18.4928 7.38513 16.0017 6.93125 12.4858 6.93125C8.96988 6.93125 6.47877 7.38513 5.03676 7.7532V2.24141H19.9348ZM0 16.8977V14.6895H24.9717V16.8977H22.3643V19.9386H20.1265V16.8977H4.84514V19.9386H2.60729V16.8977H0ZM11.5777 5.78241V4.49604C11.5777 3.73251 10.4547 3.11333 9.06937 3.11333C7.68408 3.11333 6.56113 3.73251 6.56113 4.49604V6.42689C6.56113 6.42689 8.04066 6.05932 9.05761 5.96431C9.97315 5.87869 11.5777 5.78241 11.5777 5.78241ZM18.4105 4.49604V6.42689C18.4105 6.42689 16.9311 6.05932 15.9141 5.96431C14.9985 5.87863 13.3939 5.78241 13.3939 5.78241V4.49604C13.3939 3.73251 14.5169 3.11333 15.9022 3.11333C17.2875 3.11333 18.4105 3.73251 18.4105 4.49604Z"
                fill="#CECECE"
              />
            </svg>
            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="24"
              height="20"
              viewBox="0 0 24 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3 8V3C3 2.44772 3.44772 2 4 2C4.55228 2 5 2.44772 5 3V5H7V3C7 1.34315 5.65685 0 4 0C2.34315 0 1 1.34315 1 3V8H0V10H24V8H3ZM18 5C18.5523 5 19 4.55228 19 4C19 3.44772 18.5523 3 18 3C17.4477 3 17 3.44772 17 4C17 4.55228 17.4477 5 18 5ZM16 2C16 2.55228 15.5523 3 15 3C14.4477 3 14 2.55228 14 2C14 1.44772 14.4477 1 15 1C15.5523 1 16 1.44772 16 2ZM13 7C13.5523 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5C12.4477 5 12 5.44772 12 6C12 6.55228 12.4477 7 13 7ZM6 19C3.23986 18.9969 1.0031 16.7601 1 14V11H23V14C22.9969 16.7601 20.7601 18.9969 18 19V20H16V19H8V20H6V19Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.554 0H0.442049C0.198922 0 0 0.198868 0 0.442049V19.5539C0 19.7971 0.198922 19.9959 0.442049 19.9959H19.5539C19.7971 19.9959 19.9959 19.7971 19.9959 19.5539V0.442049C19.996 0.198922 19.797 0 19.554 0ZM7.88712 13.7327L4.84081 16.7712C4.71865 16.8934 4.71865 17.0932 4.84081 17.2152L5.53181 17.9062C5.65402 18.0284 5.61305 18.1394 5.44081 18.153L1.85348 18.4367C1.68135 18.4503 1.55154 18.3205 1.56518 18.1483L1.84879 14.561C1.86243 14.3888 1.97348 14.3478 2.09558 14.47L2.78663 15.1609C2.90879 15.2831 3.10863 15.2831 3.23073 15.1609L6.27709 12.1225C6.39925 12.0003 6.59908 12.0003 6.72119 12.1225L7.88706 13.2884C8.00922 13.4108 8.00922 13.6106 7.88712 13.7327ZM6.72124 7.94992L7.88712 6.78404C8.00922 6.66189 8.00922 6.46205 7.88717 6.33984L4.84086 3.30135C4.71871 3.17925 4.71871 2.97941 4.84086 2.8572L5.53186 2.1662C5.65407 2.0441 5.6131 1.93299 5.44086 1.91941L1.85353 1.6358C1.68135 1.62216 1.55159 1.75197 1.56523 1.9241L1.84884 5.51148C1.86248 5.68367 1.97353 5.72464 2.09563 5.60248L2.78668 4.91148C2.90879 4.78933 3.10863 4.78933 3.23078 4.91148L6.27714 7.94992C6.39925 8.07213 6.59908 8.07213 6.72124 7.94992ZM18.1425 18.4368L14.5552 18.1532C14.383 18.1396 14.342 18.0285 14.4642 17.9064L15.1552 17.2154C15.2774 17.0932 15.2774 16.8934 15.1552 16.7714L12.1089 13.7329C11.9867 13.6106 11.9867 13.4108 12.1089 13.2888L13.2748 12.1229C13.3969 12.0007 13.5968 12.0007 13.7189 12.1229L16.7652 15.1613C16.8874 15.2835 17.0872 15.2835 17.2093 15.1613L17.9002 14.4704C18.0225 14.3481 18.1334 14.3892 18.1471 14.5613L18.4307 18.1486C18.4445 18.3207 18.3147 18.4505 18.1425 18.4368ZM17.9004 5.60248C18.0226 5.72458 18.1336 5.68361 18.1472 5.51148L18.431 1.9242C18.4446 1.75202 18.3148 1.62226 18.1427 1.6359L14.5554 1.91951C14.3831 1.9331 14.3422 2.04415 14.4644 2.16631L15.1554 2.8573C15.2775 2.97946 15.2775 3.1793 15.1554 3.30146L12.1091 6.33995C11.9869 6.46205 11.9869 6.66189 12.1091 6.78404L13.2749 7.94992C13.3969 8.07213 13.5968 8.07213 13.719 7.94992L16.7654 4.91148C16.8874 4.78933 17.0872 4.78933 17.2095 4.91148L17.9004 5.60248Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>
        </div>

      </div>
    </div>

    <div class="properties__card">

      <div class="properties__card-img">
        <img src="./img/slider3.jpg" alt="" />
      </div>
      <div class="properties__card-body">
        <div class="properties__card-body-header">
          <h3 class="properties__card-title">Gorgeous Home</h3>
          <p class="properties__card-price">$2,099</p>
        </div>
        <div class="properties__card-body-footer">
          <div class="properties__card-body-footer-content">
            <svg
              width="25"
              height="20"
              viewBox="0 0 25 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.9215 13.3309L22.1727 9.03667V1.1373L21.0538 0.0332031H3.91784L2.79891 1.1373V9.03661L0.0501279 13.3309H24.9215ZM19.9348 2.24141V7.7532C18.4928 7.38513 16.0017 6.93125 12.4858 6.93125C8.96988 6.93125 6.47877 7.38513 5.03676 7.7532V2.24141H19.9348ZM0 16.8977V14.6895H24.9717V16.8977H22.3643V19.9386H20.1265V16.8977H4.84514V19.9386H2.60729V16.8977H0ZM11.5777 5.78241V4.49604C11.5777 3.73251 10.4547 3.11333 9.06937 3.11333C7.68408 3.11333 6.56113 3.73251 6.56113 4.49604V6.42689C6.56113 6.42689 8.04066 6.05932 9.05761 5.96431C9.97315 5.87869 11.5777 5.78241 11.5777 5.78241ZM18.4105 4.49604V6.42689C18.4105 6.42689 16.9311 6.05932 15.9141 5.96431C14.9985 5.87863 13.3939 5.78241 13.3939 5.78241V4.49604C13.3939 3.73251 14.5169 3.11333 15.9022 3.11333C17.2875 3.11333 18.4105 3.73251 18.4105 4.49604Z"
                fill="#CECECE"
              />
            </svg>
            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="24"
              height="20"
              viewBox="0 0 24 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3 8V3C3 2.44772 3.44772 2 4 2C4.55228 2 5 2.44772 5 3V5H7V3C7 1.34315 5.65685 0 4 0C2.34315 0 1 1.34315 1 3V8H0V10H24V8H3ZM18 5C18.5523 5 19 4.55228 19 4C19 3.44772 18.5523 3 18 3C17.4477 3 17 3.44772 17 4C17 4.55228 17.4477 5 18 5ZM16 2C16 2.55228 15.5523 3 15 3C14.4477 3 14 2.55228 14 2C14 1.44772 14.4477 1 15 1C15.5523 1 16 1.44772 16 2ZM13 7C13.5523 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5C12.4477 5 12 5.44772 12 6C12 6.55228 12.4477 7 13 7ZM6 19C3.23986 18.9969 1.0031 16.7601 1 14V11H23V14C22.9969 16.7601 20.7601 18.9969 18 19V20H16V19H8V20H6V19Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.554 0H0.442049C0.198922 0 0 0.198868 0 0.442049V19.5539C0 19.7971 0.198922 19.9959 0.442049 19.9959H19.5539C19.7971 19.9959 19.9959 19.7971 19.9959 19.5539V0.442049C19.996 0.198922 19.797 0 19.554 0ZM7.88712 13.7327L4.84081 16.7712C4.71865 16.8934 4.71865 17.0932 4.84081 17.2152L5.53181 17.9062C5.65402 18.0284 5.61305 18.1394 5.44081 18.153L1.85348 18.4367C1.68135 18.4503 1.55154 18.3205 1.56518 18.1483L1.84879 14.561C1.86243 14.3888 1.97348 14.3478 2.09558 14.47L2.78663 15.1609C2.90879 15.2831 3.10863 15.2831 3.23073 15.1609L6.27709 12.1225C6.39925 12.0003 6.59908 12.0003 6.72119 12.1225L7.88706 13.2884C8.00922 13.4108 8.00922 13.6106 7.88712 13.7327ZM6.72124 7.94992L7.88712 6.78404C8.00922 6.66189 8.00922 6.46205 7.88717 6.33984L4.84086 3.30135C4.71871 3.17925 4.71871 2.97941 4.84086 2.8572L5.53186 2.1662C5.65407 2.0441 5.6131 1.93299 5.44086 1.91941L1.85353 1.6358C1.68135 1.62216 1.55159 1.75197 1.56523 1.9241L1.84884 5.51148C1.86248 5.68367 1.97353 5.72464 2.09563 5.60248L2.78668 4.91148C2.90879 4.78933 3.10863 4.78933 3.23078 4.91148L6.27714 7.94992C6.39925 8.07213 6.59908 8.07213 6.72124 7.94992ZM18.1425 18.4368L14.5552 18.1532C14.383 18.1396 14.342 18.0285 14.4642 17.9064L15.1552 17.2154C15.2774 17.0932 15.2774 16.8934 15.1552 16.7714L12.1089 13.7329C11.9867 13.6106 11.9867 13.4108 12.1089 13.2888L13.2748 12.1229C13.3969 12.0007 13.5968 12.0007 13.7189 12.1229L16.7652 15.1613C16.8874 15.2835 17.0872 15.2835 17.2093 15.1613L17.9002 14.4704C18.0225 14.3481 18.1334 14.3892 18.1471 14.5613L18.4307 18.1486C18.4445 18.3207 18.3147 18.4505 18.1425 18.4368ZM17.9004 5.60248C18.0226 5.72458 18.1336 5.68361 18.1472 5.51148L18.431 1.9242C18.4446 1.75202 18.3148 1.62226 18.1427 1.6359L14.5554 1.91951C14.3831 1.9331 14.3422 2.04415 14.4644 2.16631L15.1554 2.8573C15.2775 2.97946 15.2775 3.1793 15.1554 3.30146L12.1091 6.33995C11.9869 6.46205 11.9869 6.66189 12.1091 6.78404L13.2749 7.94992C13.3969 8.07213 13.5968 8.07213 13.719 7.94992L16.7654 4.91148C16.8874 4.78933 17.0872 4.78933 17.2095 4.91148L17.9004 5.60248Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>
        </div>

      </div>
    </div>

    <div class="properties__card">

      <div class="properties__card-img">
        <img src="./img/slider4.jpg" alt="" />
      </div>
      <div class="properties__card-body">
        <div class="properties__card-body-header">
          <h3 class="properties__card-title">Gorgeous Home</h3>
          <p class="properties__card-price">$2,099</p>
        </div>
        <div class="properties__card-body-footer">
          <div class="properties__card-body-footer-content">
            <svg
              width="25"
              height="20"
              viewBox="0 0 25 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.9215 13.3309L22.1727 9.03667V1.1373L21.0538 0.0332031H3.91784L2.79891 1.1373V9.03661L0.0501279 13.3309H24.9215ZM19.9348 2.24141V7.7532C18.4928 7.38513 16.0017 6.93125 12.4858 6.93125C8.96988 6.93125 6.47877 7.38513 5.03676 7.7532V2.24141H19.9348ZM0 16.8977V14.6895H24.9717V16.8977H22.3643V19.9386H20.1265V16.8977H4.84514V19.9386H2.60729V16.8977H0ZM11.5777 5.78241V4.49604C11.5777 3.73251 10.4547 3.11333 9.06937 3.11333C7.68408 3.11333 6.56113 3.73251 6.56113 4.49604V6.42689C6.56113 6.42689 8.04066 6.05932 9.05761 5.96431C9.97315 5.87869 11.5777 5.78241 11.5777 5.78241ZM18.4105 4.49604V6.42689C18.4105 6.42689 16.9311 6.05932 15.9141 5.96431C14.9985 5.87863 13.3939 5.78241 13.3939 5.78241V4.49604C13.3939 3.73251 14.5169 3.11333 15.9022 3.11333C17.2875 3.11333 18.4105 3.73251 18.4105 4.49604Z"
                fill="#CECECE"
              />
            </svg>
            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="24"
              height="20"
              viewBox="0 0 24 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3 8V3C3 2.44772 3.44772 2 4 2C4.55228 2 5 2.44772 5 3V5H7V3C7 1.34315 5.65685 0 4 0C2.34315 0 1 1.34315 1 3V8H0V10H24V8H3ZM18 5C18.5523 5 19 4.55228 19 4C19 3.44772 18.5523 3 18 3C17.4477 3 17 3.44772 17 4C17 4.55228 17.4477 5 18 5ZM16 2C16 2.55228 15.5523 3 15 3C14.4477 3 14 2.55228 14 2C14 1.44772 14.4477 1 15 1C15.5523 1 16 1.44772 16 2ZM13 7C13.5523 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5C12.4477 5 12 5.44772 12 6C12 6.55228 12.4477 7 13 7ZM6 19C3.23986 18.9969 1.0031 16.7601 1 14V11H23V14C22.9969 16.7601 20.7601 18.9969 18 19V20H16V19H8V20H6V19Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.554 0H0.442049C0.198922 0 0 0.198868 0 0.442049V19.5539C0 19.7971 0.198922 19.9959 0.442049 19.9959H19.5539C19.7971 19.9959 19.9959 19.7971 19.9959 19.5539V0.442049C19.996 0.198922 19.797 0 19.554 0ZM7.88712 13.7327L4.84081 16.7712C4.71865 16.8934 4.71865 17.0932 4.84081 17.2152L5.53181 17.9062C5.65402 18.0284 5.61305 18.1394 5.44081 18.153L1.85348 18.4367C1.68135 18.4503 1.55154 18.3205 1.56518 18.1483L1.84879 14.561C1.86243 14.3888 1.97348 14.3478 2.09558 14.47L2.78663 15.1609C2.90879 15.2831 3.10863 15.2831 3.23073 15.1609L6.27709 12.1225C6.39925 12.0003 6.59908 12.0003 6.72119 12.1225L7.88706 13.2884C8.00922 13.4108 8.00922 13.6106 7.88712 13.7327ZM6.72124 7.94992L7.88712 6.78404C8.00922 6.66189 8.00922 6.46205 7.88717 6.33984L4.84086 3.30135C4.71871 3.17925 4.71871 2.97941 4.84086 2.8572L5.53186 2.1662C5.65407 2.0441 5.6131 1.93299 5.44086 1.91941L1.85353 1.6358C1.68135 1.62216 1.55159 1.75197 1.56523 1.9241L1.84884 5.51148C1.86248 5.68367 1.97353 5.72464 2.09563 5.60248L2.78668 4.91148C2.90879 4.78933 3.10863 4.78933 3.23078 4.91148L6.27714 7.94992C6.39925 8.07213 6.59908 8.07213 6.72124 7.94992ZM18.1425 18.4368L14.5552 18.1532C14.383 18.1396 14.342 18.0285 14.4642 17.9064L15.1552 17.2154C15.2774 17.0932 15.2774 16.8934 15.1552 16.7714L12.1089 13.7329C11.9867 13.6106 11.9867 13.4108 12.1089 13.2888L13.2748 12.1229C13.3969 12.0007 13.5968 12.0007 13.7189 12.1229L16.7652 15.1613C16.8874 15.2835 17.0872 15.2835 17.2093 15.1613L17.9002 14.4704C18.0225 14.3481 18.1334 14.3892 18.1471 14.5613L18.4307 18.1486C18.4445 18.3207 18.3147 18.4505 18.1425 18.4368ZM17.9004 5.60248C18.0226 5.72458 18.1336 5.68361 18.1472 5.51148L18.431 1.9242C18.4446 1.75202 18.3148 1.62226 18.1427 1.6359L14.5554 1.91951C14.3831 1.9331 14.3422 2.04415 14.4644 2.16631L15.1554 2.8573C15.2775 2.97946 15.2775 3.1793 15.1554 3.30146L12.1091 6.33995C11.9869 6.46205 11.9869 6.66189 12.1091 6.78404L13.2749 7.94992C13.3969 8.07213 13.5968 8.07213 13.719 7.94992L16.7654 4.91148C16.8874 4.78933 17.0872 4.78933 17.2095 4.91148L17.9004 5.60248Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>
        </div>

      </div>
    </div>

    <div class="properties__card">

      <div class="properties__card-img">
        <img src="./img/slider5.jpg" alt="" />
      </div>
      <div class="properties__card-body">
        <div class="properties__card-body-header">
          <h3 class="properties__card-title">Gorgeous Home</h3>
          <p class="properties__card-price">$2,099</p>
        </div>
        <div class="properties__card-body-footer">
          <div class="properties__card-body-footer-content">
            <svg
              width="25"
              height="20"
              viewBox="0 0 25 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.9215 13.3309L22.1727 9.03667V1.1373L21.0538 0.0332031H3.91784L2.79891 1.1373V9.03661L0.0501279 13.3309H24.9215ZM19.9348 2.24141V7.7532C18.4928 7.38513 16.0017 6.93125 12.4858 6.93125C8.96988 6.93125 6.47877 7.38513 5.03676 7.7532V2.24141H19.9348ZM0 16.8977V14.6895H24.9717V16.8977H22.3643V19.9386H20.1265V16.8977H4.84514V19.9386H2.60729V16.8977H0ZM11.5777 5.78241V4.49604C11.5777 3.73251 10.4547 3.11333 9.06937 3.11333C7.68408 3.11333 6.56113 3.73251 6.56113 4.49604V6.42689C6.56113 6.42689 8.04066 6.05932 9.05761 5.96431C9.97315 5.87869 11.5777 5.78241 11.5777 5.78241ZM18.4105 4.49604V6.42689C18.4105 6.42689 16.9311 6.05932 15.9141 5.96431C14.9985 5.87863 13.3939 5.78241 13.3939 5.78241V4.49604C13.3939 3.73251 14.5169 3.11333 15.9022 3.11333C17.2875 3.11333 18.4105 3.73251 18.4105 4.49604Z"
                fill="#CECECE"
              />
            </svg>
            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="24"
              height="20"
              viewBox="0 0 24 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3 8V3C3 2.44772 3.44772 2 4 2C4.55228 2 5 2.44772 5 3V5H7V3C7 1.34315 5.65685 0 4 0C2.34315 0 1 1.34315 1 3V8H0V10H24V8H3ZM18 5C18.5523 5 19 4.55228 19 4C19 3.44772 18.5523 3 18 3C17.4477 3 17 3.44772 17 4C17 4.55228 17.4477 5 18 5ZM16 2C16 2.55228 15.5523 3 15 3C14.4477 3 14 2.55228 14 2C14 1.44772 14.4477 1 15 1C15.5523 1 16 1.44772 16 2ZM13 7C13.5523 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5C12.4477 5 12 5.44772 12 6C12 6.55228 12.4477 7 13 7ZM6 19C3.23986 18.9969 1.0031 16.7601 1 14V11H23V14C22.9969 16.7601 20.7601 18.9969 18 19V20H16V19H8V20H6V19Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.554 0H0.442049C0.198922 0 0 0.198868 0 0.442049V19.5539C0 19.7971 0.198922 19.9959 0.442049 19.9959H19.5539C19.7971 19.9959 19.9959 19.7971 19.9959 19.5539V0.442049C19.996 0.198922 19.797 0 19.554 0ZM7.88712 13.7327L4.84081 16.7712C4.71865 16.8934 4.71865 17.0932 4.84081 17.2152L5.53181 17.9062C5.65402 18.0284 5.61305 18.1394 5.44081 18.153L1.85348 18.4367C1.68135 18.4503 1.55154 18.3205 1.56518 18.1483L1.84879 14.561C1.86243 14.3888 1.97348 14.3478 2.09558 14.47L2.78663 15.1609C2.90879 15.2831 3.10863 15.2831 3.23073 15.1609L6.27709 12.1225C6.39925 12.0003 6.59908 12.0003 6.72119 12.1225L7.88706 13.2884C8.00922 13.4108 8.00922 13.6106 7.88712 13.7327ZM6.72124 7.94992L7.88712 6.78404C8.00922 6.66189 8.00922 6.46205 7.88717 6.33984L4.84086 3.30135C4.71871 3.17925 4.71871 2.97941 4.84086 2.8572L5.53186 2.1662C5.65407 2.0441 5.6131 1.93299 5.44086 1.91941L1.85353 1.6358C1.68135 1.62216 1.55159 1.75197 1.56523 1.9241L1.84884 5.51148C1.86248 5.68367 1.97353 5.72464 2.09563 5.60248L2.78668 4.91148C2.90879 4.78933 3.10863 4.78933 3.23078 4.91148L6.27714 7.94992C6.39925 8.07213 6.59908 8.07213 6.72124 7.94992ZM18.1425 18.4368L14.5552 18.1532C14.383 18.1396 14.342 18.0285 14.4642 17.9064L15.1552 17.2154C15.2774 17.0932 15.2774 16.8934 15.1552 16.7714L12.1089 13.7329C11.9867 13.6106 11.9867 13.4108 12.1089 13.2888L13.2748 12.1229C13.3969 12.0007 13.5968 12.0007 13.7189 12.1229L16.7652 15.1613C16.8874 15.2835 17.0872 15.2835 17.2093 15.1613L17.9002 14.4704C18.0225 14.3481 18.1334 14.3892 18.1471 14.5613L18.4307 18.1486C18.4445 18.3207 18.3147 18.4505 18.1425 18.4368ZM17.9004 5.60248C18.0226 5.72458 18.1336 5.68361 18.1472 5.51148L18.431 1.9242C18.4446 1.75202 18.3148 1.62226 18.1427 1.6359L14.5554 1.91951C14.3831 1.9331 14.3422 2.04415 14.4644 2.16631L15.1554 2.8573C15.2775 2.97946 15.2775 3.1793 15.1554 3.30146L12.1091 6.33995C11.9869 6.46205 11.9869 6.66189 12.1091 6.78404L13.2749 7.94992C13.3969 8.07213 13.5968 8.07213 13.719 7.94992L16.7654 4.91148C16.8874 4.78933 17.0872 4.78933 17.2095 4.91148L17.9004 5.60248Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>
        </div>

      </div>
    </div>

    <div class="properties__card">

      <div class="properties__card-img">
        <img src="./img/slider2.jpg" alt="" />
      </div>
      <div class="properties__card-body">
        <div class="properties__card-body-header">
          <h3 class="properties__card-title">Gorgeous Home</h3>
          <p class="properties__card-price">$2,099</p>
        </div>
        <div class="properties__card-body-footer">
          <div class="properties__card-body-footer-content">
            <svg
              width="25"
              height="20"
              viewBox="0 0 25 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.9215 13.3309L22.1727 9.03667V1.1373L21.0538 0.0332031H3.91784L2.79891 1.1373V9.03661L0.0501279 13.3309H24.9215ZM19.9348 2.24141V7.7532C18.4928 7.38513 16.0017 6.93125 12.4858 6.93125C8.96988 6.93125 6.47877 7.38513 5.03676 7.7532V2.24141H19.9348ZM0 16.8977V14.6895H24.9717V16.8977H22.3643V19.9386H20.1265V16.8977H4.84514V19.9386H2.60729V16.8977H0ZM11.5777 5.78241V4.49604C11.5777 3.73251 10.4547 3.11333 9.06937 3.11333C7.68408 3.11333 6.56113 3.73251 6.56113 4.49604V6.42689C6.56113 6.42689 8.04066 6.05932 9.05761 5.96431C9.97315 5.87869 11.5777 5.78241 11.5777 5.78241ZM18.4105 4.49604V6.42689C18.4105 6.42689 16.9311 6.05932 15.9141 5.96431C14.9985 5.87863 13.3939 5.78241 13.3939 5.78241V4.49604C13.3939 3.73251 14.5169 3.11333 15.9022 3.11333C17.2875 3.11333 18.4105 3.73251 18.4105 4.49604Z"
                fill="#CECECE"
              />
            </svg>
            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="24"
              height="20"
              viewBox="0 0 24 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3 8V3C3 2.44772 3.44772 2 4 2C4.55228 2 5 2.44772 5 3V5H7V3C7 1.34315 5.65685 0 4 0C2.34315 0 1 1.34315 1 3V8H0V10H24V8H3ZM18 5C18.5523 5 19 4.55228 19 4C19 3.44772 18.5523 3 18 3C17.4477 3 17 3.44772 17 4C17 4.55228 17.4477 5 18 5ZM16 2C16 2.55228 15.5523 3 15 3C14.4477 3 14 2.55228 14 2C14 1.44772 14.4477 1 15 1C15.5523 1 16 1.44772 16 2ZM13 7C13.5523 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5C12.4477 5 12 5.44772 12 6C12 6.55228 12.4477 7 13 7ZM6 19C3.23986 18.9969 1.0031 16.7601 1 14V11H23V14C22.9969 16.7601 20.7601 18.9969 18 19V20H16V19H8V20H6V19Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.554 0H0.442049C0.198922 0 0 0.198868 0 0.442049V19.5539C0 19.7971 0.198922 19.9959 0.442049 19.9959H19.5539C19.7971 19.9959 19.9959 19.7971 19.9959 19.5539V0.442049C19.996 0.198922 19.797 0 19.554 0ZM7.88712 13.7327L4.84081 16.7712C4.71865 16.8934 4.71865 17.0932 4.84081 17.2152L5.53181 17.9062C5.65402 18.0284 5.61305 18.1394 5.44081 18.153L1.85348 18.4367C1.68135 18.4503 1.55154 18.3205 1.56518 18.1483L1.84879 14.561C1.86243 14.3888 1.97348 14.3478 2.09558 14.47L2.78663 15.1609C2.90879 15.2831 3.10863 15.2831 3.23073 15.1609L6.27709 12.1225C6.39925 12.0003 6.59908 12.0003 6.72119 12.1225L7.88706 13.2884C8.00922 13.4108 8.00922 13.6106 7.88712 13.7327ZM6.72124 7.94992L7.88712 6.78404C8.00922 6.66189 8.00922 6.46205 7.88717 6.33984L4.84086 3.30135C4.71871 3.17925 4.71871 2.97941 4.84086 2.8572L5.53186 2.1662C5.65407 2.0441 5.6131 1.93299 5.44086 1.91941L1.85353 1.6358C1.68135 1.62216 1.55159 1.75197 1.56523 1.9241L1.84884 5.51148C1.86248 5.68367 1.97353 5.72464 2.09563 5.60248L2.78668 4.91148C2.90879 4.78933 3.10863 4.78933 3.23078 4.91148L6.27714 7.94992C6.39925 8.07213 6.59908 8.07213 6.72124 7.94992ZM18.1425 18.4368L14.5552 18.1532C14.383 18.1396 14.342 18.0285 14.4642 17.9064L15.1552 17.2154C15.2774 17.0932 15.2774 16.8934 15.1552 16.7714L12.1089 13.7329C11.9867 13.6106 11.9867 13.4108 12.1089 13.2888L13.2748 12.1229C13.3969 12.0007 13.5968 12.0007 13.7189 12.1229L16.7652 15.1613C16.8874 15.2835 17.0872 15.2835 17.2093 15.1613L17.9002 14.4704C18.0225 14.3481 18.1334 14.3892 18.1471 14.5613L18.4307 18.1486C18.4445 18.3207 18.3147 18.4505 18.1425 18.4368ZM17.9004 5.60248C18.0226 5.72458 18.1336 5.68361 18.1472 5.51148L18.431 1.9242C18.4446 1.75202 18.3148 1.62226 18.1427 1.6359L14.5554 1.91951C14.3831 1.9331 14.3422 2.04415 14.4644 2.16631L15.1554 2.8573C15.2775 2.97946 15.2775 3.1793 15.1554 3.30146L12.1091 6.33995C11.9869 6.46205 11.9869 6.66189 12.1091 6.78404L13.2749 7.94992C13.3969 8.07213 13.5968 8.07213 13.719 7.94992L16.7654 4.91148C16.8874 4.78933 17.0872 4.78933 17.2095 4.91148L17.9004 5.60248Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>
        </div>

      </div>
    </div>

    <div class="properties__card">

      <div class="properties__card-img">
        <img src="./img/slider2.jpg" alt="" />
      </div>
      <div class="properties__card-body">
        <div class="properties__card-body-header">
          <h3 class="properties__card-title">Gorgeous Home</h3>
          <p class="properties__card-price">$2,099</p>
        </div>
        <div class="properties__card-body-footer">
          <div class="properties__card-body-footer-content">
            <svg
              width="25"
              height="20"
              viewBox="0 0 25 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.9215 13.3309L22.1727 9.03667V1.1373L21.0538 0.0332031H3.91784L2.79891 1.1373V9.03661L0.0501279 13.3309H24.9215ZM19.9348 2.24141V7.7532C18.4928 7.38513 16.0017 6.93125 12.4858 6.93125C8.96988 6.93125 6.47877 7.38513 5.03676 7.7532V2.24141H19.9348ZM0 16.8977V14.6895H24.9717V16.8977H22.3643V19.9386H20.1265V16.8977H4.84514V19.9386H2.60729V16.8977H0ZM11.5777 5.78241V4.49604C11.5777 3.73251 10.4547 3.11333 9.06937 3.11333C7.68408 3.11333 6.56113 3.73251 6.56113 4.49604V6.42689C6.56113 6.42689 8.04066 6.05932 9.05761 5.96431C9.97315 5.87869 11.5777 5.78241 11.5777 5.78241ZM18.4105 4.49604V6.42689C18.4105 6.42689 16.9311 6.05932 15.9141 5.96431C14.9985 5.87863 13.3939 5.78241 13.3939 5.78241V4.49604C13.3939 3.73251 14.5169 3.11333 15.9022 3.11333C17.2875 3.11333 18.4105 3.73251 18.4105 4.49604Z"
                fill="#CECECE"
              />
            </svg>
            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="24"
              height="20"
              viewBox="0 0 24 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3 8V3C3 2.44772 3.44772 2 4 2C4.55228 2 5 2.44772 5 3V5H7V3C7 1.34315 5.65685 0 4 0C2.34315 0 1 1.34315 1 3V8H0V10H24V8H3ZM18 5C18.5523 5 19 4.55228 19 4C19 3.44772 18.5523 3 18 3C17.4477 3 17 3.44772 17 4C17 4.55228 17.4477 5 18 5ZM16 2C16 2.55228 15.5523 3 15 3C14.4477 3 14 2.55228 14 2C14 1.44772 14.4477 1 15 1C15.5523 1 16 1.44772 16 2ZM13 7C13.5523 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5C12.4477 5 12 5.44772 12 6C12 6.55228 12.4477 7 13 7ZM6 19C3.23986 18.9969 1.0031 16.7601 1 14V11H23V14C22.9969 16.7601 20.7601 18.9969 18 19V20H16V19H8V20H6V19Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>

          <div class="properties__card-body-footer-content">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.554 0H0.442049C0.198922 0 0 0.198868 0 0.442049V19.5539C0 19.7971 0.198922 19.9959 0.442049 19.9959H19.5539C19.7971 19.9959 19.9959 19.7971 19.9959 19.5539V0.442049C19.996 0.198922 19.797 0 19.554 0ZM7.88712 13.7327L4.84081 16.7712C4.71865 16.8934 4.71865 17.0932 4.84081 17.2152L5.53181 17.9062C5.65402 18.0284 5.61305 18.1394 5.44081 18.153L1.85348 18.4367C1.68135 18.4503 1.55154 18.3205 1.56518 18.1483L1.84879 14.561C1.86243 14.3888 1.97348 14.3478 2.09558 14.47L2.78663 15.1609C2.90879 15.2831 3.10863 15.2831 3.23073 15.1609L6.27709 12.1225C6.39925 12.0003 6.59908 12.0003 6.72119 12.1225L7.88706 13.2884C8.00922 13.4108 8.00922 13.6106 7.88712 13.7327ZM6.72124 7.94992L7.88712 6.78404C8.00922 6.66189 8.00922 6.46205 7.88717 6.33984L4.84086 3.30135C4.71871 3.17925 4.71871 2.97941 4.84086 2.8572L5.53186 2.1662C5.65407 2.0441 5.6131 1.93299 5.44086 1.91941L1.85353 1.6358C1.68135 1.62216 1.55159 1.75197 1.56523 1.9241L1.84884 5.51148C1.86248 5.68367 1.97353 5.72464 2.09563 5.60248L2.78668 4.91148C2.90879 4.78933 3.10863 4.78933 3.23078 4.91148L6.27714 7.94992C6.39925 8.07213 6.59908 8.07213 6.72124 7.94992ZM18.1425 18.4368L14.5552 18.1532C14.383 18.1396 14.342 18.0285 14.4642 17.9064L15.1552 17.2154C15.2774 17.0932 15.2774 16.8934 15.1552 16.7714L12.1089 13.7329C11.9867 13.6106 11.9867 13.4108 12.1089 13.2888L13.2748 12.1229C13.3969 12.0007 13.5968 12.0007 13.7189 12.1229L16.7652 15.1613C16.8874 15.2835 17.0872 15.2835 17.2093 15.1613L17.9002 14.4704C18.0225 14.3481 18.1334 14.3892 18.1471 14.5613L18.4307 18.1486C18.4445 18.3207 18.3147 18.4505 18.1425 18.4368ZM17.9004 5.60248C18.0226 5.72458 18.1336 5.68361 18.1472 5.51148L18.431 1.9242C18.4446 1.75202 18.3148 1.62226 18.1427 1.6359L14.5554 1.91951C14.3831 1.9331 14.3422 2.04415 14.4644 2.16631L15.1554 2.8573C15.2775 2.97946 15.2775 3.1793 15.1554 3.30146L12.1091 6.33995C11.9869 6.46205 11.9869 6.66189 12.1091 6.78404L13.2749 7.94992C13.3969 8.07213 13.5968 8.07213 13.719 7.94992L16.7654 4.91148C16.8874 4.78933 17.0872 4.78933 17.2095 4.91148L17.9004 5.60248Z"
                fill="#CECECE"
              />
            </svg>

            <p class="properties__card-body-text"></p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="container properties__browse-container">
    <p class="browse-all-txt properties__browse-all-txt">Browse all</p>
    <div class="browse-all-btn properties__browse-all-btn">
      <svg class="browse-all-img properties__browse-all-img" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.50933L1.4145 0L6.002 4.9808L10.5855 0L12 1.50933L6.002 8L0 1.50933Z" fill="white"/>
        </svg>
    </div>
</div>
</section>
