.apps {
    background: #F5F5F5;
    min-height: 880px;
    overflow: hidden;

    &__img-container {
        justify-content: flex-end;
    }

    &__img {
        overflow: hidden;
        height: 100%;
    }

    &__container {
        display: flex;
        justify-content: flex-end;
    }

    &__text {
        font-family: $text-font;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #333333;
        margin-bottom: 38px;

        &-wrapper {
            width: calc(100% / 12 *5);
            min-width: 479px;
            flex-shrink: 0;
            margin-left: 30px;
            margin-top: 252px;
        }
    }

    &__title {
        font-family: $title-font;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 1px;
        color: #333333;
        margin-bottom: 30px;
        display: block;


        &-container {
            position: relative;
            z-index: 999;
            display: block;
            max-width: 344px;
        }
    }

    &__link {
        margin-right: 30px;
        background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
        border-radius: 8px;
        padding: 14px 18px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        transition: 300ms all ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            opacity: 0.8;
        }

        &-img {
            width: 33px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: contain;
            margin-right: 15px;
        }
    }

    &__links-wrapper {
        display: flex;
        justify-content: flex-start;
    }

    &__decoration-container {
        position: absolute;
        top: -40px;
        right: -98px;
        z-index: -2;
    }

    &__decoration {
        width: 172px;
        height: 172px;
        z-index: 998;
    }
}

@media screen and (max-width: 1024px) {
    .apps {

        &__text {

            &-wrapper {
                width: calc(100% / 12 *6);
            }
        }
    }

}

@media screen and (max-width: 768px) {
    .apps {
       
        &__title {
            &-wrapper {
                max-width: 326px;
            }
        }

        &__link {
            justify-content: center;
            margin-bottom: 26px;
        }

        &__links-wrapper {
            flex-direction: column;
            min-width: 300px;
        }

        &__text {

            &-wrapper {
                margin-left: 0;
                min-width: 326px;
            }
        }
    }

}

@media screen and (max-width: 375px) {
    .apps{

        &__container {
            display: flex;
            flex-direction: column;
        }
    
        &__img {
            width: 100%;
            height: auto;
        }

        &__text-wrapper {
            margin-top: 74px;
            margin-left: 0;
        }
    }

}