.explore {
    position: relative;
    overflow: hidden;

    &__background {
        display: block;
        border-radius: 0px 175px 0px 0px;
        background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -9998;
    }

    &__title {
        font-family: $title-font;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin-top: 76px;
        margin-bottom: 14px;
    }

    &__text {
        font-family: $text-font;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 70px;
    }

    &__card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
    }

    &__card {
        border-radius: 8px;
        overflow: hidden;
        width: 370px;
        height: 370px;
        position: relative;
        transition: 300ms all ease-in-out;
        background-size: contain;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;

        &-img {
            height: 100%;
        }

        &-img-container {
            height: 100%;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.101478);
        }

        &::after {
            display: block;
            content: '';
            background: #9e9e9e73;
            width: 100%;
            height: 100%;
        }

        &-title {
            font-family: $title-font;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 1px;
            color: #FFFFFF;
            margin-bottom: 7px;
        }

        &-subtitle {
            font-family: $text-font;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
        }

        &-properties {
            background: #FFFFFF;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0992414);
            border-radius: 24px;
            font-family: $text-font;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #333333;
            width: 146px;
            justify-content: center;
            display: flex;
            height: 48px;
            align-items: center;
            margin-top: 201px;
        }

        &-info {
            position: absolute;
            top: 24px;
            left: 32px;
            z-index: 999;
        }
    }

    &__decoration-container {
        position: absolute;
        top: -68px;
        right: -44px;
        z-index: -2;
    }

    &__decoration {
        width: 172px;
        height: 172px;
    }

    &__browse-all-txt {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }

    &__browse-all-btn {
        @include round-btn;
        margin-left: 14px;
    }
    &__browse-all-img {
        transform: rotate(-90deg);
    }
    &__browse-all-btn:active &__browse-all-img *{
        fill: #004FDE;
    }

    &__browse-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 64px;
        padding-top: 16px;
    }
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

@media screen and (max-width:1260px) {
    .explore {

        &__card {
            width: 310px;
            height: 368px;
        }
    }
}

@media screen and (max-width:768px) {
    .explore {
        &__card {
            width: 359px;
            height: 368px;
        }
    }
}

@media screen and (max-width:375px) {
    .explore {
        &__card {
            width: calc(100% - 40px);
            height: 336px;

            &-properties {
                margin-top: 168px;
            }
        }

        &__title {
            font-size: 40px;
            line-height: 48px;
        }

        &__browse-container {
            justify-content: center;
            align-items: center;
        }
    }
}