.footer {
    padding-top: 74px;

    &__container {
        display: flex;
    }

    &__content-container {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        padding-right: calc(100% / 12);

        &:last-child {
            padding-right: 0;
        }
    }

    &__logo {
        margin-bottom: 37px;
        width: 49px;
        height: 47px;
    }

    &__logo-img * {
        fill: #333333;
    }

    &__content-text {
        font-family: $text-font;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: rgba(51, 51, 51, 0.501557);
    }

    &__bottom-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 41px;
        padding-top: 46px;
        border-top: 1px #E9E9E9 solid;
    }

    &__content-title {
        font-family: $title-font;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #333333;
        margin-bottom: 23px;
        margin-top: 1px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 160px;

        &-li {
            list-style: none;
            margin-bottom: 8px;
        }

        &-link {
            text-decoration: none;
            font-family: $text-font;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-input {
        font-family: $text-font;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: rgba(51, 51, 51, 0.501557);
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 5px;
        padding-top: 13px;
        padding-left: 16px;
        padding-right: 42px;
        padding-bottom: 11px;
        margin-bottom: 16px;
        margin-top: 9px;

        &:focus {
            color: black;
            outline: none;
        }

        &-btn {
            background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
            border-radius: 8px;
            padding-top: 14px;
            padding-bottom: 10px;
            font-family: $text-font;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: 300ms all ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }

        &__social-container {
            display: flex;
            flex-direction: column;
        }
    }

    .social {

        &__links-container {
            display: flex;
            height: 32px;
            margin-top: 49px;
            margin-bottom: 48px;
        }

        &__link {
            text-decoration: none;
            margin-right: 8px;
            transition: 300ms all ease-in-out;

            &:hover &-img * {
                fill: #004FDE;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .footer {

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__content-container {
            min-width: 359px;
        }

        &__social-info-container {
            min-width: calc(100% - 30px);
        }

        &__social-container {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            flex-shrink: 1;
        }
    }
}

@media screen and (max-width:375px) {
    .footer {
        &__container {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        &__content-container {
            min-width: calc(100% - 30px);
            margin-bottom: 65px;
        }

        &__social-info-container {
            min-width: calc(100% - 30px);
        }

        &__social-container {
            display: flex;
            flex-direction: column;
        }

        &__bottom-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 73px;
            padding-top: 78px;
            border-top: 1px #E9E9E9 solid;
        }

        &__bottom-content-text {
            margin-bottom: 24px;
        }
    }
}