.header {
    width: 100%;
    position: relative;
    border-bottom-left-radius: 135px;
    overflow: hidden;

    &__background-img-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
        width: 100%;
    }

    &__background-img {
        width: 100%;
    }

    &__background-mask {
        width: 100%;
        min-height: 880px;
    }


    &__background-mask-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -998;
        width: 100%;

    }

    &__nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
    }

    &__form {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 272px;
    }

    &__form-container {
        margin: 0 auto;
        margin-top: 207px;
        margin-bottom: 48px;
        z-index: 999;
    }

    &__decoration-container {
        position: absolute;
        top: -53px;
        left: 77px;
        z-index: -2;
    }

    &__decoration {
        width: 172px;
        height: 172px;
    }

    &__form-input {
        font-family: $text-font;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: rgba(51, 51, 51, 0.501557);
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 5px;
        padding-top: 13px;
        padding-left: 16px;
        padding-right: 42px;
        padding-bottom: 11px;
        min-width: 270px;

        &:focus {
            color: black;
            outline: none;
        }

        &--search {
            width: 470px;
            margin-left: 30px;
        }
    }

    &__nav {
        display: flex;

        &-btn-container {
            width: 107px;
            display: block;
            justify-content: flex-end;
        }

        &-item {
            list-style: none;
            margin-right: 62px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link {
            color: #FFFFFF;
            text-decoration: none;
        }

        &-cabinet {
            @include round-btn;
        }

        &-burger {
            @include round-btn;
            display: none;
        }

        &-btn-container {
            display: flex;
        }
    }

    &__logo {
        width: 48px;
        height: 48px;
        background-size: cover;
        align-items: center;
        display: flex;
    }

    &__title {
        font-family: $title-font;
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 80px;
        text-align: center;
        letter-spacing: 1px;
    }

    &__title-container {
        margin: 0 auto;
        margin-bottom: 33px;
        width: 582px;
        position: relative;

    }
}

.arrow-down {
    @include round-btn;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .header {
        &__background-mask {
            min-height: 768px;
        }

        &__background-img {
            min-height: 768px;
        }

        &__form-container {
            margin: 0 auto;
            margin-top: 163px;
            margin-bottom: 48px;
        }

        &__form {
            margin-bottom: 160px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-height: 880px;

        &__background-mask {
            min-height: 880px;
        }

        &__background-mask-container {
            overflow: hidden;
            background-size: cover;
        }

        &__background-img {
            min-height: 880px;
        }

        &__background-img-container {
            overflow: hidden;
            background-size: cover;
        }

        &__form-container {
            margin: 0 auto;
            margin-top: 207px;
            margin-bottom: 48px;
        }

        &__title-container {
            width: calc(100% - 28px);
            max-width: 582px;
        }

        &__form {
            flex-direction: column;
            max-width: 470px;
            width: calc(100% - 28px);
            margin-bottom: 189px;
            justify-content: center;
        }

        &__form-input {
            margin-bottom: 177px;
            max-width: 470px;
            width: calc(100% - 28px);
            margin-bottom: 28px;

            &--search {
                margin-left: 0;
            }
        }

        &__nav {
            display: none;

            &-burger {
                display: flex;
                margin-left: 11px;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .header {
        &__title {
            font-size: 56px;
            line-height: 64px;
        }
    &__form-container {
            margin: 0 auto;
            margin-top: 172px;
            margin-bottom: 48px;
        }
        &__form-input--search {
            overflow: hidden;
        }
    }
}