.properties {
    overflow: hidden;

    &__slider-container {

        overflow: hidden;
    }

    &__container {
        padding-top: 74px;
        padding-bottom: 64px;
    }

    &__title {
        font-family: $title-font;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 1px;
        color: #333333;
        margin-bottom: 14px;
    }

    &__text {
        font-family: $text-font;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #333333;
        margin-bottom: 70px;
    }

    &__slider-container {
        margin-bottom: 48px;

    }

    &__card {
        // max-width: 270px;
        // min-width: 270px;
        width: 270px;
        height: 464px;
        border-radius: 8px;
        background-size: contain;
        overflow: hidden;
        margin-right: 30px;
        position: relative;
    }

    &__browse-all-txt {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #333333;
    }

    &__browse-all-btn {
        @include round-btn;
        margin-left: 14px;
        border: 1px solid rgba(51, 51, 51, 0.297271);
    }

    &__browse-all-img {
        transform: rotate(-90deg);
    }

    &__browse-all-img * {
        fill: #333333;
    }

    &__browse-all-btn:active &__browse-all-img * {
        fill: #004FDE;
    }

    &__browse-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 64px;
        padding-top: 16px;
    }

    &__card-body-header {
        position: absolute;
        top: 26px;
        left: 32px;
    }

    &__card-title {
        font-family: $text-font;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }

    &__card-price {
        font-family: $title-font;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #FFFFFF;
    }

    &__card-body-footer {
        display: none;
    }

}

.slick-slide {
    width: 270px;
    max-width: 270px;
}

@media screen and (max-width:375px) {
    .properties {
        &__title {
            font-size: 40px;
            line-height: 48px;
        }
        &__browse-container {
            justify-content: center;
            align-items: center;
        }
    }
}