@mixin round-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3003);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease;

    &:hover {
        transition: 0.3s all ease;
        transform: scale(1.2);
    }
}