* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@import './var/index';
@import './mixin/index';


body {
    font-family: $text-font;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .container {
        width: calc(100% - 54px)
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 28px)
    }
}

@import './sections/index';