* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", Arial, sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 54px);
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 28px);
  }
}
.header {
  width: 100%;
  position: relative;
  border-bottom-left-radius: 135px;
  overflow: hidden;
}
.header__background-img-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
}
.header__background-img {
  width: 100%;
}
.header__background-mask {
  width: 100%;
  min-height: 880px;
}
.header__background-mask-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -998;
  width: 100%;
}
.header__nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.header__form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 272px;
}
.header__form-container {
  margin: 0 auto;
  margin-top: 207px;
  margin-bottom: 48px;
  z-index: 999;
}
.header__decoration-container {
  position: absolute;
  top: -53px;
  left: 77px;
  z-index: -2;
}
.header__decoration {
  width: 172px;
  height: 172px;
}
.header__form-input {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.501557);
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 5px;
  padding-top: 13px;
  padding-left: 16px;
  padding-right: 42px;
  padding-bottom: 11px;
  min-width: 270px;
}
.header__form-input:focus {
  color: black;
  outline: none;
}
.header__form-input--search {
  width: 470px;
  margin-left: 30px;
}
.header__nav {
  display: flex;
}
.header__nav-btn-container {
  width: 107px;
  display: block;
  justify-content: flex-end;
}
.header__nav-item {
  list-style: none;
  margin-right: 62px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  color: #FFFFFF;
  text-decoration: none;
}
.header__nav-cabinet {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
}
.header__nav-cabinet:hover {
  transition: 0.3s all ease;
  transform: scale(1.2);
}
.header__nav-burger {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
  display: none;
}
.header__nav-burger:hover {
  transition: 0.3s all ease;
  transform: scale(1.2);
}
.header__nav-btn-container {
  display: flex;
}
.header__logo {
  width: 48px;
  height: 48px;
  background-size: cover;
  align-items: center;
  display: flex;
}
.header__title {
  font-family: "Kanit", Arial, sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 1px;
}
.header__title-container {
  margin: 0 auto;
  margin-bottom: 33px;
  width: 582px;
  position: relative;
}

.arrow-down {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
  margin: 0 auto;
}
.arrow-down:hover {
  transition: 0.3s all ease;
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .header__background-mask {
    min-height: 768px;
  }
  .header__background-img {
    min-height: 768px;
  }
  .header__form-container {
    margin: 0 auto;
    margin-top: 163px;
    margin-bottom: 48px;
  }
  .header__form {
    margin-bottom: 160px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-height: 880px;
  }
  .header__background-mask {
    min-height: 880px;
  }
  .header__background-mask-container {
    overflow: hidden;
    background-size: cover;
  }
  .header__background-img {
    min-height: 880px;
  }
  .header__background-img-container {
    overflow: hidden;
    background-size: cover;
  }
  .header__form-container {
    margin: 0 auto;
    margin-top: 207px;
    margin-bottom: 48px;
  }
  .header__title-container {
    width: calc(100% - 28px);
    max-width: 582px;
  }
  .header__form {
    flex-direction: column;
    max-width: 470px;
    width: calc(100% - 28px);
    margin-bottom: 189px;
    justify-content: center;
  }
  .header__form-input {
    margin-bottom: 177px;
    max-width: 470px;
    width: calc(100% - 28px);
    margin-bottom: 28px;
  }
  .header__form-input--search {
    margin-left: 0;
  }
  .header__nav {
    display: none;
  }
  .header__nav-burger {
    display: flex;
    margin-left: 11px;
  }
}
@media screen and (max-width: 620px) {
  .header__title {
    font-size: 56px;
    line-height: 64px;
  }
  .header__form-container {
    margin: 0 auto;
    margin-top: 172px;
    margin-bottom: 48px;
  }
  .header__form-input--search {
    overflow: hidden;
  }
}
.apps {
  background: #F5F5F5;
  min-height: 880px;
  overflow: hidden;
}
.apps__img-container {
  justify-content: flex-end;
}
.apps__img {
  overflow: hidden;
  height: 100%;
}
.apps__container {
  display: flex;
  justify-content: flex-end;
}
.apps__text {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 38px;
}
.apps__text-wrapper {
  width: 41.6666666667%;
  min-width: 479px;
  flex-shrink: 0;
  margin-left: 30px;
  margin-top: 252px;
}
.apps__title {
  font-family: "Kanit", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1px;
  color: #333333;
  margin-bottom: 30px;
  display: block;
}
.apps__title-container {
  position: relative;
  z-index: 999;
  display: block;
  max-width: 344px;
}
.apps__link {
  margin-right: 30px;
  background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
  border-radius: 8px;
  padding: 14px 18px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}
.apps__link:hover {
  transform: scale(1.1);
}
.apps__link:active {
  opacity: 0.8;
}
.apps__link-img {
  width: 33px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  margin-right: 15px;
}
.apps__links-wrapper {
  display: flex;
  justify-content: flex-start;
}
.apps__decoration-container {
  position: absolute;
  top: -40px;
  right: -98px;
  z-index: -2;
}
.apps__decoration {
  width: 172px;
  height: 172px;
  z-index: 998;
}

@media screen and (max-width: 1024px) {
  .apps__text-wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .apps__title-wrapper {
    max-width: 326px;
  }
  .apps__link {
    justify-content: center;
    margin-bottom: 26px;
  }
  .apps__links-wrapper {
    flex-direction: column;
    min-width: 300px;
  }
  .apps__text-wrapper {
    margin-left: 0;
    min-width: 326px;
  }
}
@media screen and (max-width: 375px) {
  .apps__container {
    display: flex;
    flex-direction: column;
  }
  .apps__img {
    width: 100%;
    height: auto;
  }
  .apps__text-wrapper {
    margin-top: 74px;
    margin-left: 0;
  }
}
.explore {
  position: relative;
  overflow: hidden;
}
.explore__background {
  display: block;
  border-radius: 0px 175px 0px 0px;
  background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9998;
}
.explore__title {
  font-family: "Kanit", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-top: 76px;
  margin-bottom: 14px;
}
.explore__text {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 70px;
}
.explore__card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
.explore__card {
  border-radius: 8px;
  overflow: hidden;
  width: 370px;
  height: 370px;
  position: relative;
  transition: 300ms all ease-in-out;
  background-size: contain;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.explore__card-img {
  height: 100%;
}
.explore__card-img-container {
  height: 100%;
}
.explore__card:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.101478);
}
.explore__card::after {
  display: block;
  content: "";
  background: rgba(158, 158, 158, 0.4509803922);
  width: 100%;
  height: 100%;
}
.explore__card-title {
  font-family: "Kanit", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 7px;
}
.explore__card-subtitle {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.explore__card-properties {
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 24px;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  width: 146px;
  justify-content: center;
  display: flex;
  height: 48px;
  align-items: center;
  margin-top: 201px;
}
.explore__card-info {
  position: absolute;
  top: 24px;
  left: 32px;
  z-index: 999;
}
.explore__decoration-container {
  position: absolute;
  top: -68px;
  right: -44px;
  z-index: -2;
}
.explore__decoration {
  width: 172px;
  height: 172px;
}
.explore__browse-all-txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.explore__browse-all-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
  margin-left: 14px;
}
.explore__browse-all-btn:hover {
  transition: 0.3s all ease;
  transform: scale(1.2);
}
.explore__browse-all-img {
  transform: rotate(-90deg);
}
.explore__browse-all-btn:active .explore__browse-all-img * {
  fill: #004FDE;
}
.explore__browse-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 64px;
  padding-top: 16px;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

@media screen and (max-width: 1260px) {
  .explore__card {
    width: 310px;
    height: 368px;
  }
}
@media screen and (max-width: 768px) {
  .explore__card {
    width: 359px;
    height: 368px;
  }
}
@media screen and (max-width: 375px) {
  .explore__card {
    width: calc(100% - 40px);
    height: 336px;
  }
  .explore__card-properties {
    margin-top: 168px;
  }
  .explore__title {
    font-size: 40px;
    line-height: 48px;
  }
  .explore__browse-container {
    justify-content: center;
    align-items: center;
  }
}
.footer {
  padding-top: 74px;
}
.footer__container {
  display: flex;
}
.footer__content-container {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  padding-right: 8.3333333333%;
}
.footer__content-container:last-child {
  padding-right: 0;
}
.footer__logo {
  margin-bottom: 37px;
  width: 49px;
  height: 47px;
}
.footer__logo-img * {
  fill: #333333;
}
.footer__content-text {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.501557);
}
.footer__bottom-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
  padding-top: 46px;
  border-top: 1px #E9E9E9 solid;
}
.footer__content-title {
  font-family: "Kanit", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #333333;
  margin-bottom: 23px;
  margin-top: 1px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 160px;
}
.footer__menu-li {
  list-style: none;
  margin-bottom: 8px;
}
.footer__menu-link {
  text-decoration: none;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__form-input {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.501557);
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 5px;
  padding-top: 13px;
  padding-left: 16px;
  padding-right: 42px;
  padding-bottom: 11px;
  margin-bottom: 16px;
  margin-top: 9px;
}
.footer__form-input:focus {
  color: black;
  outline: none;
}
.footer__form-input-btn {
  background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 10px;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}
.footer__form-input-btn:hover {
  opacity: 0.8;
}
.footer__form-input__social-container {
  display: flex;
  flex-direction: column;
}
.footer .social__links-container {
  display: flex;
  height: 32px;
  margin-top: 49px;
  margin-bottom: 48px;
}
.footer .social__link {
  text-decoration: none;
  margin-right: 8px;
  transition: 300ms all ease-in-out;
}
.footer .social__link:hover .footer .social__link-img * {
  fill: #004FDE;
}

@media screen and (max-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__content-container {
    min-width: 359px;
  }
  .footer__social-info-container {
    min-width: calc(100% - 30px);
  }
  .footer__social-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-shrink: 1;
  }
}
@media screen and (max-width: 375px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .footer__content-container {
    min-width: calc(100% - 30px);
    margin-bottom: 65px;
  }
  .footer__social-info-container {
    min-width: calc(100% - 30px);
  }
  .footer__social-container {
    display: flex;
    flex-direction: column;
  }
  .footer__bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 73px;
    padding-top: 78px;
    border-top: 1px #E9E9E9 solid;
  }
  .footer__bottom-content-text {
    margin-bottom: 24px;
  }
}
.properties {
  overflow: hidden;
}
.properties__slider-container {
  overflow: hidden;
}
.properties__container {
  padding-top: 74px;
  padding-bottom: 64px;
}
.properties__title {
  font-family: "Kanit", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1px;
  color: #333333;
  margin-bottom: 14px;
}
.properties__text {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 70px;
}
.properties__slider-container {
  margin-bottom: 48px;
}
.properties__card {
  width: 270px;
  height: 464px;
  border-radius: 8px;
  background-size: contain;
  overflow: hidden;
  margin-right: 30px;
  position: relative;
}
.properties__browse-all-txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.properties__browse-all-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
  margin-left: 14px;
  border: 1px solid rgba(51, 51, 51, 0.297271);
}
.properties__browse-all-btn:hover {
  transition: 0.3s all ease;
  transform: scale(1.2);
}
.properties__browse-all-img {
  transform: rotate(-90deg);
}
.properties__browse-all-img * {
  fill: #333333;
}
.properties__browse-all-btn:active .properties__browse-all-img * {
  fill: #004FDE;
}
.properties__browse-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 64px;
  padding-top: 16px;
}
.properties__card-body-header {
  position: absolute;
  top: 26px;
  left: 32px;
}
.properties__card-title {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.properties__card-price {
  font-family: "Kanit", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.properties__card-body-footer {
  display: none;
}

.slick-slide {
  width: 270px;
  max-width: 270px;
}

@media screen and (max-width: 375px) {
  .properties__title {
    font-size: 40px;
    line-height: 48px;
  }
  .properties__browse-container {
    justify-content: center;
    align-items: center;
  }
}